/********
* GLOBAL
********/
body {
	font-family: "Comic Sans MS", "Comic Sans", "cursive";
	font-size: 16px;
}

/********
* HEADER
********/
.header {
	height: 700px;
	background: url(../images/phpcode.jpg) no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	z-index: 0;
}

.container {
	max-width: 1440px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	z-index: 1;
}

.top-bar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brand, .logo {
	width: 79px;
	height: 28px;
}

.titles {
	text-align: center;
	color: #ffffff;
}

.titles .page-title {
	font-size: 40px;
	font-style: italic;
	text-align: center;
	font-weight: normal;
	margin-bottom: 50px;
}

.titles .encourage-title {
	font-size: 75px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 59px;
}

.titles  .btn {
	display: inline-block;
}


/*about*/
#about {
	margin: 50px;
	position: relative;
}
.avatar{
background: url(../images/myAvatar.png) no-repeat;
background-size: cover;
border-radius: 50%;
margin: 20px auto;
display: block;
width: 200px;
height: 200px;
border: 5px solid blue;
}
.about-cv {
	position: relative;
}
.about-cv-title {
	text-align: center;
}
.about-title {
	text-align: center;
	font-size: 3em; 
	
}
.about-text {
	text-align: center;
	font-size: 1.5em;
}
/**********
COMPONENTS
**********/

/** LAND **/
.land {
	padding-top: 120px;
	padding-bottom: 120px;
}

.land-title {
	color:  #222222;
	font-family: Montserrat, serif;
	font-size: 40px;
	font-weight: 700;
	text-align: center;
	margin: 0 0 20px 0;
	text-transform: uppercase;
}

.land-subtitle {
	font-family: "Droid Serif", serif;
	color:  #777777;
	font-style: italic;
	text-align: center;
	margin-bottom: 80px;
}

/** BUTTON **/
.btn {
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	padding: 25px 49px;
	text-transform: uppercase;
}

a.btn {
	text-decoration: none;
}

.btn-primary {
	background-color: grey;
}

.btn-primary, a.btn-primary {
	color: #ffffff;
}
/**SKILLS**/
#skills {
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: aliceblue;
}
.skills-title {
	text-align: center;
}
.skills-text {
	text-align: center;
	font-size: 1.5em;
	margin: 35px;
}
.mt-5, .my-5 {
    margin-top: 3rem!important;
}
.row {
    display: flex; 
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/**********/

.skills_logo {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.checked {
    color: orange;
}
/**************/

.card {
	position: relative;
	padding-top: 20px;
    padding-left: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

/**PORTFOLIO**/
#portfolio {
	background-color: grey;
}
.portfolio-title {
	text-align: center;
}
.portfolio-text {
	text-align: center;
	font-size: 1.5em;
	margin: 35px;
}
.projet__container {
	display: flex;
	flex-wrap: wrap;
	margin: 35px 0 0 100px;
  }
  .projets__portfolio {
	width: 20%;
	margin: 10px;
	padding: 0;
	height: 30%; 
	border-radius: 25px;
	position: relative;
	overflow: hidden;
  }
  
  .projets__portfolio img {
	width : 100%;
  }
  .infobulle {
	position: relative;  /* les .infobulle deviennent référents */
	cursor: help;
  }
  
  /* on génère un élément :after lors du survol et du focus :*/
  
  .infobulle:hover::after,
  .infobulle:focus::after {
	content: attr(aria-label);  /* on affiche aria-label */
	position: absolute;
	top: -2.4em;
	left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
	z-index: 3; /* pour s'afficher au dessus des éléments en position relative */
	white-space: nowrap;  /* on interdit le retour à la ligne */
	padding: 5px 14px;
	background: #413219;
	color: #fff;
	border-radius: 4px;
	font-size: 1.2rem;
  }
  /* on génère un second élément en :before pour la flèche */

[aria-label]:hover:before,
[aria-label]:focus:before {
  content: "▼";
  position: absolute;
  top: -1em;
	left: 50%;
	transform: translateX(-50%); /* on centre horizontalement  */
  font-size: 20px;
  color: #413219;
}
  /**CONTACT**/

#contact{
    background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

